@import url('https://fonts.googleapis.com/css?family=Bungee');
body {
    overflow-x: hidden;
}
h1 {
    font-family: 'Bungee', cursive;
}

p {
    font-family: sans-serif;
}

#nametext {
    color: #2f1962;
    text-align: center;
    font-size: 8em;
    font-family: 'Bungee', cursive;
    line-height: 70%;
}
#csc {
  font-family: 'Verdana';
  text-align: center;
  font-size 2em;
  line-height: 200%;
}


#sketch-final {
   position: absolute;
    left: 10%;
}


#sketch1 { 
   position: relative;
    left: 20%;
    top: 750px;
}
#sketch2 {
   position: relative;
    left: 20%;
    top: 750px;
}
#sketch3 {
   position: relative;
    left: 20%;
    top: 750px;
}
#biocss {
   position: relative;
    left: 20%;
    top: 820px;
}
#bio-name {
    color: beige;
   position: relative;
    left: 320px;
    top: -360px;
}
#bio-text {
    color: beige;
   position: relative;
    left: 320px;
    width: 310px;
    top: -360px;
}
